body{
    margin-top: 20px;
}
.main{
    background: lightblue;
    display:flex;
    width:600px;
    justify-content: left;
    margin: 0 auto;
    border-bottom: 8px solid blueviolet;
}
.profile{
        padding-left:20px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 40px;
    width:250px;
    margin-right: 20px;
    border-radius: 40px;
}
.name{

    color: rgb(77, 72, 72);
    font-size:xx-large;
    font-style: italic;
}
.role{
    font-size: large;
    text-align: center;
    color: rgb(62, 62, 65);
    font-size: medium;
}
.city{
    text-align:center;
    text-shadow: 10px;
  
}